.bl-background {
    background: #d7d5d5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
}
button, input:focus {
    outline: none;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding-top: 100px;
    margin: auto;
    box-sizing: border-box;
}

input {
    border-color: rgba(125, 176, 249, 0.4);
    border-radius: 5px;
    padding-left: 8px;
}

/*Left column*/
.bl-list {
    border: 1px solid rgba(34, 36, 38, .15);
    margin: 1%;
    min-width: 343px;
    width: 68%;
    float: left;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .08);
    border-radius: 5px;
}

.bl-input {
    padding: 10px;
}

.field {
    width: calc(100% - 120px);
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bl-row {
    border-top: 1px solid #d3d3d3;
    height: 50px;
}

.bl-pr {
    position: relative;
    vertical-align: top;
    width: 28%;
    float: left;
    line-height: 25px;
    padding: 10px;
}

.bl-product {
}

.bl-count {
    width: 28%;
    float: left;
    line-height: 50px;
    text-align: center;
}

.bl-label {
    padding: 5px 10px;
    background: #e6e6e6;
    border-radius: 4px;
}

.bl-buttons {
   width: 120px;
    float: right;
    margin-right: 10px;
    line-height: 50px;
    text-align: right;
}

.rename {
    float: left;
    line-height: 23px;
}

/*Right column*/
.bl-bought {
    border: 1px solid rgba(34, 36, 38, .15);
    width: 27%;
    Float: left;
    margin: 1%;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .08);
    border-radius: 5px;
}

.row {
    padding: 14px;
    border-bottom: 1px solid #d3d3d3;
}

.bl-title-left {
    display: block;
    line-height: 0;
    height: 0;
    font-size: 20px;
    margin: 7px 0 7px 0;
}

.st {
    border: none !important;
}

.mini-label {
    background-color: #E8E8E8;
    color: rgba(0, 0, 0, .6);
    display: inline-block;
    line-height: 1;
    box-sizing: inherit;
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
}

.title {
    font-size: 14px;
}

.count {
    background-color: #F2711C !important;
    border-color: #F2711C !important;
    color: #FFF !important;
    margin-left: 3px;
    border-radius: 50%;
    padding: 1px 5px 1px 5px;
}

.line-through {
    text-decoration: line-through;
}

/*Badge*/
.badge {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position:fixed;
    bottom: -60px;
    left: 100px;
    padding: 10px;
    background: darkviolet;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    transition: all 1s ease;
}

.badge:hover {
    bottom: 0;
    background-color:  blueviolet;
}

@media print {
    .badge {
        color: white;
        background-color: white;
        border: 1px solid darkviolet;
        bottom: 0;
    }

    .badge h {
        display: none;
    }
}

.badge p {
    margin-top: 5px;
    font-size: 15px;
}


/*Кнопки*/

/*розібратися з курсором*/
.disabled {
    opacity: 0.6;
}

.disabled:hover {
    cursor: not-allowed;
  background:    #E49898;
!important;
}

.bl-minus, .bl-plus {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 16px;
}

.bl-minus {
    background: #DB2828;
}

.bl-plus {
    background: #21BA45;
}

.bl-buy {
     height: 30px;
    width: 80px;
    cursor: pointer;
    display: inline-block;
    border: none;
    vertical-align: middle;
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;
    color: rgba(0,0,0,.6);
    margin-left: 2%;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-radius: .4em;
    margin-right: 5px;
}

.bl-cancel {
    width: 25px;
    border-radius: 5px;
    background:  #DB2828;
    color: white;
}

.new-item {
    box-sizing: inherit;
    display: flex;
}

.add {
    height: 34px;
    width: 115px;
    color: white;
    background: #2185D0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
     
}

/*Tooltips*/
.tooltip {
    position: relative;
}

.tooltip::after {
    opacity: 0;
    display: inline-block;
    box-sizing: border-box;
    transition: all 1s ease;
    font-size: 13px;
    font-weight: 700;
    background-color:darkviolet;
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    padding: 5px;
    bottom: 10%;
    left: 50%;
    margin-left: -50px;
    border-radius: 3px;
    transform: scale(0);
    color: white;
}

.tooltip:hover::after {
    bottom: 110%;
    opacity: 1;
    font-size: 12px;
    transform: scaleX(1);
}

@media (max-width: 500px) {
    .bl-list {
        width: 97%;
    }

    .bl-bought {
        width: 97%;
    }
}
button {height: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #4d4a4d;!important;
}
button:active {
    opacity: 0.7;
    border-bottom: none;
}